<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Quote Request</h1>
    <p>Name: <%= $quote.name %></p>
    <p>Email: <%= $quote.email %></p>
    <p>Message: <%= $quote.message %></p>
  </body>
</html>